<att:attivio xmlns:att="http://www.attivio.com/configuration" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xmlns:f="http://www.attivio.com/configuration/features/core"
             xsi:schemaLocation="http://www.attivio.com/configuration http://www.attivio.com/configuration/attivio-config.xsd
                                 http://www.attivio.com/configuration/features/core http://www.attivio.com/configuration/features/coreFeatures.xsd">

  <imports>
    <import resource="GenericQTJ/beans.xml" type="spring"/>
  </imports>
  
  <configuration>
    <environment-properties>
      <file-properties location="GenericQTJ/GenericQTJ.properties"/>
    </environment-properties>    
  </configuration>
    
  <components>
    <component name="Generic Composite Joiner" class="com.attivio.transformer.query.GenericQTJ.GenericCompositeJoiner">
      <properties>
      </properties>
    </component>
    <component name="Multi Field Joiner" class="com.attivio.transformer.query.GenericQTJ.MultiFieldJoiner">
      <properties>
      </properties>
    </component>
  </components>
  
</att:attivio>
